<table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let key of keys">{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of data; let i = index; let key of keys;">
        <th scope="row">{{i}}</th>
        
        <td>{{ trip.key }}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
